<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head><title>Reportes - ClinicX Admin</title></head>
<body>
    <div th:fragment="cuerpo">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h4 class="fw-bold mb-0">Dashboard de Gestión de Servicios Médicos</h4>
    </div>

    <div class="card shadow-sm border-0">
        <div class="card-body p-2">

            <iframe
                title="Dashboard clínico"
                src="https://app.powerbi.com/view?r=eyJrIjoiNDNhNzM4NjMtOGE0NC00ZWVhLTg0MGQtYjk5OTZlMDcwYWU5IiwidCI6ImM0YTY2YzM0LTJiYjctNDUxZi04YmUxLWIyYzI2YTQzMDE1OCIsImMiOjR9"
                width="100%"
                height="900"
                frameborder="0"
                style="border:0;"
                allowfullscreen>
            </iframe>

        </div>
    </div>

</div>
</body>
</html>



